<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function f1(){
            var x = document.getElementsByTagName('div');
            x[0].style.color="red";
            x[0].innerHTML = "this is devnag";
            x[1].style.backgroundColor="green";
           document.getElementById('par').x[0].innerHTML="devang";
        }
    </script>
</head>
<body>
    
    <div>This is Div Tag</div>
    <div>Devang Badhshad</div>
    
    <button onclick="f1()">Submit</button>
<p id="par"></p>
</body>
</html>