<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>

    function f1(){
        var x =document.getElementsByName('c1');
        for(var i=0; i<x.length; i++){
                  if(x[i].type="checkbox"){
                    x[i].checked = true;
                  }             
 
        }
    }
</script>
<body>
    
<div class="container-fluid">
<button type="button" onclick="f1()">select all</button>
<br>
<br>
<input type="checkbox" name="c1">Core Java  <br>
<input type="checkbox" name="c1">Advanced  Java<br>
<input type="checkbox" name="c1">Spring boot
</div>


</body>
</html>